modules = ["nodejs-20", "python-3.12", "c-clang14", "cpp-clang14", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["python-launcher"]

[[ports]]
localPort = 3000
externalPort = 80
